# Dependencies
/node_modules

# Compiled output
/build
/.next
/out

# Cache and logs
npm-debug.log
yarn-error.log
/logs

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# IDE files
.vscode
.idea

# Editor backup files
*~
*.swp
*.swo

# Thumbnails
Thumbs.db

vercel.json