.topbar {
  color: #bebbbb; /* Warna teks */
}

.topsocial a {
  color: #fff; /* Warna ikon media sosial */
  margin-right: 10px; /* Jarak antara ikon media sosial */
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.topsocial a:hover {
  color: #007bff; /* Warna saat hover */
}

.topmenu ul {
  list-style: none;
  padding: 0;
}

.topmenu ul li {
  display: inline;
  margin-right: 15px;
  font-size: 18px;
}

.topsearch p {
  font-size: 18px;
  color: #000;
  text-align: right;
}

.fa-facebook {
  color: #1877f2; /* Gantilah dengan kode warna sesuai merek Anda */
}

/* Contoh: Warna ikon Twitter menjadi biru */
.fa-twitter {
  color: #1da1f2; /* Gantilah dengan kode warna sesuai merek Anda */
}

/* Contoh: Warna ikon Instagram menjadi merah */
.fa-instagram {
  color: #bc2a8d; /* Gantilah dengan kode warna sesuai merek Anda */
}